.section {

    position: relative;
    background-color: #01234d;
}

.divCarousel {
    display: flex;
    background-position: center top;
    height: 700px;
}

.divCarousel .slideContent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.5s ease-in-out;
}

.divCarousel .slideContent img.fade {
    filter: brightness(50%);
    /* Ajuste o valor para clarear ou escurecer conforme necessário */
}


.gradient {
    display: block;
    background: linear-gradient(180deg, transparent, #000914);
    bottom: 0;
    height: 30%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 3;
}

.divCarousel div::after {
    color: rgb(29, 26, 20);
    font-size: 35px;
}

.divCarousel span {
    height: 7px;
    width: 7px;
    border: solid 2px #fff;
    background-color: #000000;
    position: relative;
    bottom: 150px;
    z-index: 0;
    z-index: 10;
}

.divCarousel .slideContent {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.divCarousel .slideContent .descript {
    z-index: 1000;
    font-size: 40px;
    color: #6b4e10;
    background-color: #bdb9b6;
    position: absolute;
    top: 100px;
    right: 10px;
    border-radius: 20%;
    opacity: 0.7;
}

@media(max-width:1076px) {

    .divCarousel .slideContent .descript {
        font-size: 30px;
    }
}

@media(max-width:510px) {
    .divCarousel .slideContent .descript {
        font-size: 25px;
        text-align: center;
        max-width: 95%;
    }

}