.section {

    position: relative;
    background-color: #01234d;
}

.divCarousel {
    display: flex;
    background-position: center top;
    height: 700px;
}

.divCarousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.5s ease-in-out;
}

.divCarousel img.fade {
    filter: brightness(50%);
    /* Ajuste o valor para clarear ou escurecer conforme necessário */
}


.gradient {
    display: block;
    background: linear-gradient(180deg, transparent, #000914);
    bottom: 0;
    height: 30%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 3;
}

.divCarousel span {
    height: 7px;
    width: 7px;
    border: solid 2px #fff;
    background-color: #000000;
    position: relative;
    bottom: 150px;
    z-index: 0;
    z-index: 10;
}