.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    align-items: center;
    justify-content: space-between;

    background: linear-gradient(180deg, #c4d7fc, #05070f);
    overflow: hidden;
    /* Adiciona overflow: hidden ao container */
    position: relative;
    /* Garante que os elementos sejam posicionados corretamente */

}

.divImg {
    display: flex;

    height: 300px;
    width: 400px;


}

.animatedheader {


    text-align: center;

    margin-bottom: 10px;

}


.header h1 {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 5px;
    color: #6b4e10;
}

.header h2 {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 7px;
    color: #a18a57;
}

.header p {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 10px;
    color: #161411;
}





.animatedsubtitle {
    opacity: 0;
    display: flex;
    max-width: 100%;
    align-items: center;
    flex-direction: column;
    animation: slide-pause 15s infinite;

}

.animatedsubtitle .ponteiro {
    width: 30px;
    margin-bottom: -25px;
}

.animatedsubtitle .car {
    margin-bottom: -20px;
}

.animatedsubtitle img {
    width: 100%;

}

@keyframes slide-pause {

    0%,
    16.67% {
        opacity: 0;
    }

    33.33%,
    66.67% {
        opacity: 1;
    }

    83.33%,
    100% {
        opacity: 0;
    }
}



.animatedsubtitle:last-of-type {
    animation-name: slide-from-right;
}

@keyframes slide-from-right {
    0% {
        transform: translateX(100vw);
        opacity: 0;
    }

    16.67% {
        transform: translateX(0);
        opacity: 1;
    }

    66.67% {
        transform: translateX(0);
        opacity: 1;
    }

    83.33%,
    100% {
        transform: translateX(-100vw);
        opacity: 0;
    }
}



.animatedheader span {
    letter-spacing: 5px;
    font-size: 50px;
    font-weight: 600;
    display: inline-block;
    opacity: 0;
    font-family: "Stardos Stencil", system-ui;
    transform: translateY(-100px);
    animation: dropIn 12s forwards infinite;
    color: #ffffff;
}

.animatedheader .t {
    font-family: sans-serif;
    font-size: 65px;
}

.animatedheader .a {
    color: #f06e05;
}

/* Animação */
@keyframes dropIn {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}

/* Atraso incremental */
.animatedheader span:nth-child(1) {
    animation-delay: 0s;
}

.animatedheader span:nth-child(2) {
    animation-delay: 0.2s;
}

.animatedheader span:nth-child(3) {
    animation-delay: 0.4s;
}

.animatedheader span:nth-child(4) {
    animation-delay: 0.6s;
}



@media(max-width:710px) {
    .divImg {
        max-width: 99%;
    }

}

@media(max-width:300px) {
    .animatedheader h1 {
        font-size: 20px;
    }

    .animatedheader span {
        font-size: 25px;
    }
}