.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;


}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: #fff;
}

.divImg {
    display: flex;
    margin-top: 25px;
    height: 220px;
    width: 450px;


}


.divTitle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 600px;
    height: 220px;
    margin-top: 35px;


}

.divTitle h2 {
    font-size: 30px;
    color: #383838;
}

.divTitle h3 {
    font-size: 32px;
    color: #140e04;
}


.divUl {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-image: url("/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: right;
}

.ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 600px;
    height: 400px;
    list-style: none;
    background-color: #d3d3d3;
    border-radius: 5px;
    opacity: 0.8;
    padding: 5px;

}

.ul li {
    display: flex;
    align-items: center;


}

.ul li img {
    margin-right: 10px;
    width: 32px;

}

.ul li span {
    font-size: 26px;
    font-weight: 400;
    color: #0e0a41;
}



.ul2 {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 100px;
    background-color: #fff;
}

.ul2 li {
    display: flex;
    align-items: center;


}


.ul2 li img {
    width: 60px;
    margin-right: 5px;
}

.ul2 .divText {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}


@media (max-width:1100px) {

    .container {
        flex-direction: column;
    }

    .divTitle {
        width: 95%;
        height: 400px;
    }

    .ul2 li img {
        width: 50px;

    }

    .ul2 .divText {

        font-size: 14px;
        font-weight: 600;

    }
}

@media (max-width:870px) {

    .ul2 {
        flex-direction: column;
        justify-content: space-evenly;
        height: 270px;
    }
}

@media (max-width:640px) {
    .ul {
        width: 95%;
    }

    .divImg {
        width: 90%;
    }

    .divTitle {

        text-align: center;
    }



}



@media (max-width:375px) {



    .ul {
        height: 450px;
    }

    .ul li span {
        font-size: 20px;

    }

}

@media (max-width:300px) {

    .divTitle h2 {
        font-size: 25px;
    }

    .divTitle h3 {
        font-size: 28px;
    }

    .ul2 li img {
        max-width: 40px;

    }

    .ul2 .divText {

        font-size: 12px;
        font-weight: 600;
        max-width: 160px;

    }
}